/* line 1, ../../app/assets/stylesheets/application.scss */
.navbar-inner {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

/* line 9, ../../app/assets/stylesheets/application.scss */
.align-right {
  text-align: right;
}

/* line 13, ../../app/assets/stylesheets/application.scss */
#loading {
  width: 300px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
}

/* line 23, ../../app/assets/stylesheets/application.scss */
#people td:nth-child(1) {
  width: 40px;
}

/* line 28, ../../app/assets/stylesheets/application.scss */
#people-loading {
  text-align: center;
}

/* line 32, ../../app/assets/stylesheets/application.scss */
.forker {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
